{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags-->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- CSS Files-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/css/bootstrap.min.css' %}"
        />
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'app/css/styles.css' %}"
        />

        <link
            href="https://fonts.googleapis.com/css?family=B612|Roboto|Vollkorn&display=swap"
            rel="stylesheet"
        />
        <link
            href="{% static 'app/fonts/Recoleta-Bold.ttf' %}"
            rel="stylesheet"
        />
        <link rel="icon" href="{% static 'app/images/favicon.ico' %}" />

        <script
            src="https://kit.fontawesome.com/1f06dfeacc.js"
            crossorigin="anonymous"
        ></script>

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Basic Site</title>
        {% endif %}
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-md">
            <a
                class="navbar-brand"
                href="{% url 'app-home' %}"
                style="font-size: 1.9em; font-family: 'Recoleta-Bold', serif;"
            >
                <span style="font-size: 135%;">🥕</span>Carrot
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fas fa-bars" style="font-size: 100%;"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#products">Buy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sellform">Sell</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="https://gitlab.com/alifyandra/carrot"
                            >Git Repo</a
                        >
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input
                        class="form-control mr-sm-2"
                        style="width:20vw !important;border: 1px solid black;"
                        type="search"
                        placeholder="Search products ..."
                        aria-label="Search"
                    />
                    <button
                        class="btn btn-dark my-2 my-sm-0"
                        style="font-family: 'Vollkorn';"
                        type="submit"
                    >
                        Search
                    </button>
                </form>
            </div>
        </nav>

        {% block content %} {% endblock content %}
        <footer>
            <a
                class="nav-link"
                href="https://www.linkedin.com/in/ahmad-izzudin-alifyandra-55b4421a1/"
                style="text-decoration: none;color: black; padding: 0px;"
                >Ahmad Izzudin Alifyandra © 2020</a
            >
            <br />
            <img
                src="{% static 'app/images/catlickcarrot.gif' %}"
                width="60"
                height="60"
                alt="cat licking carrot"
                style="border-radius: 30px 30px 30px 30px; border: 1px solid black;"
            />
        </footer>
        <!-- JS  -->
        <script src="{% static 'app/scripts/jquery-3.4.1.js' %}"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
        <!-- Scroll animation -->
        <script>
            $(document).ready(function() {
                // Add smooth scrolling to all links
                $("a").on("click", function(event) {
                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {
                        // Prevent default anchor click behavior
                        event.preventDefault();

                        // Store hash
                        var hash = this.hash;

                        // Using jQuery's animate() method to add smooth page scroll
                        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                        $("html, body").animate(
                            {
                                scrollTop: $(hash).offset().top
                            },
                            800,
                            function() {
                                // Add hash (#) to URL when done scrolling (default click behavior)
                                window.location.hash = hash;
                            }
                        );
                    } // End if
                });
            });
        </script>
        <!-- Color changing scroll animation -->
        <script>
            $(window)
                .scroll(function() {
                    // selectors
                    var $window = $(window),
                        $body = $("body"),
                        $panel = $(".panel");

                    // Change 33% earlier than scroll position so colour is there when you arrive.
                    var scroll = $window.scrollTop() + $window.height() / 3;

                    $panel.each(function() {
                        var $this = $(this);

                        // if position is within range of this panel.
                        // So position of (position of top of div <= scroll position) && (position of bottom of div > scroll position).
                        // Remember we set the scroll to 33% earlier in scroll var.
                        if (
                            $this.position().top <= scroll &&
                            $this.position().top + $this.height() > scroll
                        ) {
                            // Remove all classes on body with color-
                            $body.removeClass(function(index, css) {
                                return (
                                    css.match(/(^|\s)color-\S+/g) || []
                                ).join(" ");
                            });

                            // Add class of currently active div
                            $body.addClass("color-" + $(this).data("color"));
                        }
                    });
                })
                .scroll();
        </script>
        <!-- Close collapse navbar onclick -->
        <script>
            $(".navbar-nav>li>a").on("click", function() {
                $(".navbar-collapse").collapse("hide");
            });
        </script>
    </body>
</html>
