{% extends 'app/base.html' %} {% block content %} {% load static %}
<section id="home" data-color="orange" class="panel">
    <div class="vertical-center" style="align-items: center;">
        <div class="container">
            <div class="greet">Hello!</div>
            <div class="row justify-content-center greet-button">
                <div class="col" style="text-align: right;">
                    <a
                        class="btn btn-lg btn-success"
                        href="#products"
                        role="button"
                    >
                        Buy
                    </a>
                </div>
                <div class="col" style="text-align: left;">
                    <a
                        class="btn btn-lg btn-danger"
                        href="#sellform"
                        role="button"
                    >
                        Sell
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section
    class="panel"
    style="padding: 13vh 0px 10vh;"
    id="products"
    data-color="green"
>
    <div class="container">
        <div class="row justify-content-center text-center">
            {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div
                    class="card border-dark mx-auto"
                    style="width: 14rem; text-align: center; background-color: #E2E73A; margin-bottom: 1.2rem;height: 265px;"
                >
                    <div class="card-body">
                        <div class="name card-title">{{product.name}}</div>
                        <div class="price card-text">
                            <b>$</b> {{product.price}}
                        </div>
                        <div class="rating card-text">
                            <i
                                class="fas fa-star"
                                style="font-size: 1em;line-height: 2em;"
                            ></i>
                            {{product.rating}}/5
                        </div>
                    </div>
                    <div class="card-body" style="position: relative;">
                        <a href="#" class="btn btn-success" id="bottom">Buy</a>
                    </div>
                    <div class="card-footer">
                        <div class="date card-text ">
                            <small class="text-dark">
                                Date Added: {{product.time_added}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section
    class="panel"
    style="padding: 13vh 0px 25vh; text-align: center;"
    id="sellform"
    data-color="red"
>
    <div class="container" style="padding: 2vw;">
        <h1 style="font-size: 300%;font-family: 'Recoleta-Bold',serif;">
            Sell Something!
        </h1>
        <div
            class="container"
            style="width: 60vw; font-family: 'Vollkorn',serif; font-size: 130%; max-width: 560px;"
        >
            <form method="POST">
                {% csrf_token %}
                <div class="form-group" style="margin-bottom: 5px;">
                    <label for="inputName"><b>Product Name</b></label>

                    <input
                        class="form-control"
                        type="text"
                        name="name"
                        id="inputName"
                        maxlength="28"
                        placeholder="Fresh Carrots..."
                        style="font-weight: bold; text-align: center;border: 1px solid black;"
                    />
                    <small
                        id="namehelp"
                        class="form-text"
                        style="font-family: 'Roboto';font-size: 50%;"
                        >Less than 28 characters.</small
                    >
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <label for="inputPrice"><b>Price</b></label>
                            <input
                                name="price"
                                type="text"
                                class="form-control"
                                id="inputPrice"
                                placeholder="$"
                                style="font-family: 'Recoleta-Bold',serif; text-align: center;border: 1px solid black;"
                            />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group" style="margin-bottom: 5px;">
                            <label for="inputRating"><b>Rating</b></label>
                            <input
                                name="rating"
                                type="text"
                                class="form-control"
                                id="inputRating"
                                placeholder="0-5"
                                style="font-family: 'Recoleta-Bold',serif; text-align: center;border: 1px solid black;"
                            />
                        </div>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-dark">
                    Submit!
                </button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}
