/* navbar */
.navbar {
    background-color: #74d65b;
    border-bottom: 1px solid black;
    padding-left: 8vw;
    padding-right: 4vw;
    line-height: 7vh;
}
.navbar .navbar-brand {
    color: #000000;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #040404;
}
.navbar .navbar-text {
    color: #000000;
}
.navbar .navbar-text a {
    color: #040404;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #040404;
}
.navbar .navbar-nav .nav-link {
    color: #000000;
    border-radius: 0.25rem;
    margin: 0 0.25em;
    font-family: "Vollkorn", serif;
    font-size: 110%;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #040404;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #040404;
    background-color: #4dae34;
}
.navbar .navbar-toggle {
    border-color: #4dae34;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #4dae34;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #000000;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #000000;
}
.navbar .navbar-link {
    color: #000000;
}
.navbar .navbar-link:hover {
    color: #040404;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #040404;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #040404;
        background-color: #4dae34;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #040404;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #040404;
        background-color: #4dae34;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #040404;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #040404;
        background-color: #4dae34;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #000000;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #040404;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #040404;
        background-color: #4dae34;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #000000;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #040404;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #040404;
    background-color: #4dae34;
}

/* styling */
body {
    background-color: #ff9900;
    font-family: "Roboto", sans-serif;
    transition: background-color 1s ease;
}
footer {
    padding: 5vh;
    text-align: center;
    font-family: "Recoleta-Bold";
    font-size: 16px;
}
@font-face {
    font-family: "Recoleta-Bold";
    src: local("Recoleta-Bold"),
        url("../fonts/Recoleta-Bold.ttf") format("truetype");
}
.color-orange {
    background-color: #ff9900;
}
.color-green {
    background-color: #894483;
}
.color-red {
    background-color: #ed4c3f;
}
.greet {
    text-align: center;
    font-family: "Vollkorn", serif;
    font-size: 10vh;
    font-weight: 600;
}
.greet-button {
    font-family: "Roboto", sans-serif;
}
.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}
.name {
    font-family: "Vollkorn", serif;
    font-weight: 600;
    font-size: 1.4em;
}
.price {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 1.2em;
}
.rating {
    font-family: "Roboto", serif;
    font-size: 1.1em;
}
.date {
    font-size: 0.5em;
}
#bottom {
    position: absolute;
    bottom: 22px;
    right: 86px;
}
.btn:hover,
a:hover {
    transform: scale(1.1) !important;
}
.input {
    text-align: center;
}
